* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

$mainBlack: #222;
$mainBlack2: rgb(59, 59, 59);
$mainWhite: #fff;
$mainGrey: #696969;
$mainGreen: #6B8E23;
$mainTransition: all 0.5s linear;

body {
   font-family: 'Staatliches', cursive;
   background: $mainBlack;
   color: $mainWhite;
}